<div class="container">

    <mat-card>
        <mat-card-header> 
            <mat-card-title>STS role assume token test</mat-card-title>
        </mat-card-header>
    
        <mat-card-content>

            <form [formGroup]="stsCredFG" >

                <mat-form-field appearance="outline">
                    <mat-label>Access Key</mat-label>
                    <input matInput formControlName="access_key" placeholder="Access Key" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Secret Key</mat-label>
                    <input matInput formControlName="secret_key"  placeholder="Secret Key" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Role ARN</mat-label>
                    <input matInput formControlName="role_arn" placeholder="Role ARN" >
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Region</mat-label>
                    <mat-select formControlName="region" >
                        <mat-option value="us-east-1"> <b>us-east-1</b>  US East (N. Virginia) </mat-option>
                        <mat-option value="us-east-2"> <b>us-east-2</b>  US East (Ohio) </mat-option>
                        <mat-option value="us-west-1"> <b>us-west-1</b>  US West (N. California) </mat-option>
                        <mat-option value="us-west-2"> <b>us-west-2</b>  US West (Oregon) </mat-option>
                        <mat-option value="af-south-1"> <b>af-south-1</b>  Africa (Cape Town) </mat-option>
                        <mat-option value="ap-east-1"> <b>ap-east-1</b>  Asia Pacific (Hong Kong) </mat-option>
                        <mat-option value="ap-south-2"> <b>ap-south-2</b>  Asia Pacific (Hyderabad) </mat-option>
                        <mat-option value="ap-southeast-3"> <b>ap-southeast-3</b>  Asia Pacific (Jakarta) </mat-option>
                        <mat-option value="ap-southeast-4"> <b>ap-southeast-4</b>  Asia Pacific (Melbourne) </mat-option>
                        <mat-option value="ap-south-1"> <b>ap-south-1</b>  Asia Pacific (Mumbai) </mat-option>
                        <mat-option value="ap-northeast-1"> <b>ap-northeast-1</b>  Asia Pacific (Tokyo) </mat-option>
                        <mat-option value="ap-northeast-2"> <b>ap-northeast-2</b>  Asia Pacific (Seoul) </mat-option>
                        <mat-option value="ap-northeast-3"> <b>ap-northeast-3</b>  Asia Pacific (Osaka) </mat-option>
                        <mat-option value="ap-southeast-1"> <b>ap-southeast-1</b>  Asia Pacific (Singapore) </mat-option>
                        <mat-option value="ap-southeast-2"> <b>ap-southeast-2</b>  Asia Pacific (Sydney) </mat-option>
                        <mat-option value="ca-central-1"> <b>ca-central-1</b>  Canada (Central) </mat-option>
                        <mat-option value="eu-central-1"> <b>eu-central-1</b>  Europe (Frankfurt) </mat-option>
                        <mat-option value="eu-west-1"> <b>eu-west-1</b>  Europe (Ireland) </mat-option>
                        <mat-option value="eu-west-2"> <b>eu-west-2</b>  Europe (London) </mat-option>
                        <mat-option value="eu-south-1"> <b>eu-south-1</b>  Europe (Milan) </mat-option>
                        <mat-option value="eu-west-3"> <b>eu-west-3</b>  Europe (Paris) </mat-option>
                        <mat-option value="eu-south-2"> <b>eu-south-2</b>  Europe (Spain) </mat-option>
                        <mat-option value="eu-north-1"> <b>eu-north-1</b>  Europe (Stockholm) </mat-option>
                        <mat-option value="eu-central-2"> <b>eu-central-2</b>  Europe (Zurich) </mat-option>
                        <mat-option value="il-central-1"> <b>il-central-1</b>  Israel (Tel Aviv) </mat-option>
                        <mat-option value="me-south-1"> <b>me-south-1</b>  Middle East (Bahrain) </mat-option>
                        <mat-option value="me-central-1"> <b>me-central-1</b>  Middle East (UAE) </mat-option>
                        <mat-option value="sa-east-1"> <b>sa-east-1</b>  South America (São Paulo) </mat-option>
                    </mat-select>
                  </mat-form-field>

            </form>
        </mat-card-content>

        <mat-card-actions>
            <button [disabled]="isStsButtonDisabled" class="action-button" mat-raised-button (click)="stsAction()"> 
                    <div style="display: flex; align-items: center;">                
                        <span style="margin-right: .6rem;">Check STS for role </span>
                        <mat-icon *ngIf="isStsSuccess == true"><span style="color: greenyellow;">generating_tokens</span></mat-icon>
                        <mat-icon *ngIf="isStsSuccess == false"><span style="color: orangered;">error</span></mat-icon> 
                    </div>
            </button>
        </mat-card-actions>
        <mat-card-footer></mat-card-footer>
    </mat-card>
</div>