
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40%;
    margin: auto;
    margin-top: 5rem;
}
mat-card {
    padding: .5rem;
    width: 100%;
    margin-bottom: .5rem;
}

mat-card-header {
    padding-left: 2rem;
    font-size: 2rem;
}

mat-card-title {
    /* font-size: 2rem; */
}

mat-card-content {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

mat-form-field {
    display: block;
}

.vert-flex-center {
    display: flex;
    align-items: center;
}


.action-button{
    /* margin: .3rem; */
}

.query-line-success{
    border: 1px rgba(172, 255, 47, 0.3) solid;
    margin-bottom:.4rem;
    padding: .5rem;

}

.query-line-fail{
    border: 1px rgba(255, 68, 0, 0.3) solid;
    margin-bottom:.2rem;
    padding: .5rem;

}
.query-line-success:hover{
    background-color: rgba(172, 255, 47, 0.05);
}
.query-line-fail:hover{
    background-color: rgba(255, 68, 0, 0.05);
}

.error-box{
    max-width: 20rem;
    padding-left: 1rem;
}


@media screen and (max-width: 810px) {
    .container {
        max-width: 100%;
        margin-top: 0;

    }
}
