/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
    background-image: url("./assets/jason-leung-CNEdEpM0Lmg-unsplash.jpg");
    background-size: cover;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 42
}

.left-1space {
  margin-left: .2rem;
}

.left-2space {
  margin-left: .4rem;
}

.left-4space {
  margin-left: .8rem;
}

.success {
  color: green;
}

.fail {
  color: orangered
}